---
layout: default
---

<div id="home">

    <div id="home-about">

        <h1>~ Hey, I'm Urda ~</h1>

        <ul>
            <li>I am a Software Engineer</li>
            <li>Craft Beer Enthusiast</li>
            <li>Bourbon Connoisseur</li>
            <li>A proud Kentucky Colonel</li>
        </ul>

    </div>

    <div id="home-recent-posts">

        <h2>Recent Blog Posts</h2>
        {% for post in site.posts limit: 5 %}

        <article class="home-recent-post">
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">
                {{ post.date | date: "%Y / %d / %m" }}
            </time>
            -
            <a href="{{ post.url }}">{{ post.title }}</a>

            <p>
            {% if post.summary %}

                {{ post.summary }}

            {% else %}

                {{ post.excerpt }}

            {% endif %}
            </p>
        </article>

        {% endfor %}

    </div>

</div>
