<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" media="print" onload="this.media='all'">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/svg-icons.css" media="print" onload="this.media='all'">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/highlights.css" media="print" onload="this.media='all'">
<noscript>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/svg-icons.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/highlights.css">
</noscript>
