/* Font stacks */
$helvetica: helvetica, arial, sans-serif;
$helvetica-neue: "Helvetica Neue", helvetica, arial, sans-serif;
$monospace-font: 'Bitstream Vera Sans Mono', courier, monospace;

/* Heading scale */
$font-size-h1: 30px;
$font-size-h2: 24px;
$font-size-h3: 20px;
$font-size-h4: 18px;
