.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #d6d6d6;
}

#home-about {
  display: table;
  margin: 0 auto;
}

#home-recent-posts {
}

#home h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
}
