// Local Variables
$betterGray: #d6d6d6;

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $betterGray;
}

.pagination {
  border-top: 1px solid $betterGray;
  border-bottom: 1px solid $betterGray;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.masthead {
  border-bottom: 1px solid $betterGray;
}

.wrapper-footer {
  margin-top: 50px;
  background-color: $betterGray;
}

.wrapper-masthead {
  margin-bottom: 15px;
}

#home h1, h2 {
    margin-top: 0;
}

#home-about {
  display: table;
  margin: 0 auto;
}

#home-recent-posts > .home-recent-post {
    padding-top: 1em;
    border-bottom: 1px solid $betterGray;
}

#home-recent-posts > .home-recent-post:last-child {
    border-bottom: none;
}

.home-recent-post > a {
  color: #000;
  font-weight: bolder;

  &:hover, &:active {
    color: $blue;
  }
}
