---
layout: default
---

<h1>Blog Post Archive</h1>

<div class="posts">
  {% for post in paginator.posts %}
  {% include post-article.html %}
  {% endfor %}
</div>

<!-- Pagination -->
<div class="pagination">
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" rel="next" class="pagination-breadcrumb-left">
    Older Posts
  </a>
  {% endif %}

  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" rel="prev" class="pagination-breadcrumb-right">
    Newer Posts
  </a>
  {% endif %}
</div>
