---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
</article>

<!-- Pagination links -->
<div class="pagination-post">
  <div class="pagination-post-left">
  {% if page.previous.url %}
    <a href="{{page.previous.url}}">
      « Older Post
      <br />
      ({{ page.previous.title }})
    </a>
  {% endif %}
  </div>

  <div class="pagination-post-right">
  {% if page.next.url %}
    <a href="{{page.next.url}}">
      Newer Post »
      <br />
      ({{ page.next.title }})
    </a>
  {% endif %}
  </div>
  <div class="pagination-post-clear"></div>
</div>
